.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-links-container h2 {
  font-size: 30px;
  color: rgb(154, 2, 133);
  margin-bottom: 10px;
  margin-top: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.social-links a:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
  color: rgb(154, 2, 133);
  box-shadow: 0 10px 10px rgba(238, 103, 238, 0.884);
}

.social-links i {
  font-size: 50px;
}
