.homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.content {
  flex-basis: 50%;
  color: rgb(154, 2, 133);
}

.content h1 {
  width: 500px;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(93, 1, 81, 0.8),
    rgba(222, 69, 201, 0.8)
  );
  color: white;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(238, 103, 238, 0.884);
  transition: all 0.3s ease;
  cursor: pointer;
}

.content h1:hover {
  color: black;
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(238, 103, 238, 0.884);
  background: linear-gradient(135deg, rgb(229, 118, 214), rgb(64, 1, 56));
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }

  .content h1 {
    font-size: 24px;
    width: 300px;
  }

  .content h2 {
    width: 300px;
    font-size: 20px;
  }

  img {
    width: 400px;
    margin-top: 30px;
  }
}
